<li>
    <span class="profile-link">
        <div class='container'>
            <h1><%= link_to user.name,  user_path(user), class: 'profile-link' %></h1>
            <%= friend_or_not(user, current_user) %>
        </div>
    </span>
</li>